@media (max-width: 1024px) {
  .navbar-brand img {
    height: 50px;
    margin-left: 80px;
  }

  .nav-item {
    margin-right: 10px;
  }

  .seccion-negro__contenido {
    display: block;

    img {
      height: 100%;
      width: auto;
      margin-left: 40%;
      margin-top: 10px;
    }
  }

  .descripcion p {
    color: white;
    margin-top: 30px;
    margin-right: 00;
    margin-left: 0;
  }

  .linea-amarilla {
    margin-left: 70px;

    p {
      font-size: 1rem;
      margin-right: 5px;
    }
  }

  .seccion-amarilla img {
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }

  .ventajas {
    h2 {
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
      margin-top: 20px;
      margin-left: 50px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

  .camara-video h3 {
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    font-family: "qontra";
    font-size: 1.2rem;
  }

  .footer-content {
    text-align: center;
    margin-right: 50vh;
    margin-top: 0px;
  }

  .footer-imagen img {
    width: 80px;
    margin-left: 10vh;
  }
}

/* TABLETS */

@media (min-width: 768px) and (max-width: 1023px) {
  .linea-amarilla {
    border-right: none;
    width: 100%;
    border-bottom: 2px solid #F7CF3E;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;

    p {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .footer-content {
    margin: 20px;
  }

  .accesorios-container {
    flex-direction: column;
    align-items: center;
  }

  .camara-video {
    img {
      width: 400px;
    }

    h3 {
      margin-right: 50px;
    }
  }

  .ventajas p {
    margin-right: 50px;
  }
}

/* CELULARES */
@media (min-width: 468px) and (max-width: 767px) {
  .imagen-camara {
    width: 100px;
    margin-left: 100px;
  }

  .camara-video img {
    width: 300px;
  }

  .linea-amarilla {
    border-right: none;
    width: 100%;
    border-bottom: 2px solid #F7CF3E;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;

    p {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .ventajas p {
    margin-right: 45px;
  }

  .camara-video h3 {
    margin-right: 50px;
  }

  .footer-content {
    margin: 20px;
  }

  .footer-imagen img {
    width: 80px;
    margin-left: 5px;
  }

  .accesorios-container {
    flex-direction: column;
    align-items: center;
  }

  .seccion-opcionales {
    display: flex;
    flex-direction: column;
  }
  form{
    width: 90%;
  }
}

@media (min-width:300px) and (max-width:468px){
  .camara-video img {
    width: 250px;
  }
  
  .imagen-camara {
    width: 100px;
    margin-right: 300px;
  }

  .linea-amarilla {
    border-right: none;
    width: 100%;
    border-bottom: 2px solid #F7CF3E;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;

    p {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .ventajas p, .camara-video h3 {
    margin-right: 50px;
  }
  
  .footer-content {
    margin: 20px;
  }
  
  .footer-imagen img {
    width: 80px;
    margin-left: 5px;
  }
  
  .accesorios-container {
    flex-direction: column;
    align-items: center;
  }
  
  .seccion-opcionales {
    display: flex;
    flex-direction: column;
  }
  form{
    width: 100%;
  }
}
