footer{
    background-color:$color_amarillo;
    display: flex;
    justify-content: space-between;
    font-family: "qontra";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-imagen img{
    width: 80px;
}

.footer-content{
    text-align: center;
    margin-right: 350px;
    margin-top: 40px;
}

